
 body {
    margin:0 ;
    padding:0;
    height: 100vh;
    
    
   
    
    
}

body {
    background-image:url(https://wallpapercave.com/wp/wp4972597.jpg);
    background-repeat: repeat-y;

    
    
    
    
    
}
.card {
padding: 1em;
width: 25%;
margin-top: 5em;
background-color: white;
text-align: center;
position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 






}

#title {
    font-family:Permanent Marker;
}

#h1, p {
    color:black;
    margin:1em;
    
}
p, body{
    color:black;
    margin:1em;
}
#image {
    width: 400px;
}
    title {
        font-style: Permanent Marker;
    }
   #Info {
    
    color:black;
    font-size: 18;
    align-items: center;
   }

   p.article {
    margin: 1.5em;
    font-size: 22px;
    
   }
   .img-caption {
    font-size: 24px;
    font-style: oblique;

   }
   
   #Subheader {
    font-size: 24px;
    font-family:Permanent Marker;
   
   }
   li , a , button {
    font-family: 'Franklin Gothic Medium', sans-serif;
   }
   .links {
    transition: all 0.3s ease-in 0s;
   }
   .links li a:hover {
    color:crimson;
   }
   button {
    display: table-row;
    margin: 3px;
    padding: 10px 25px;
    background-color: rgb(179, 178, 178,1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease-in 0s;

   }
   button:hover {
    background-color: rgb(133, 131, 131,0.5);
   }

   #about {
    font-size: 22;

   }
   /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth41.cur), auto !important;} /* End https://www.cursors-4u.com */

 
   
 